@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* global area ....................................................*/
:root {
  --main-color: #ffea01;
  --secondary-color: #202020;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #eee;
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

 .arrow-up{
  position:fixed;
  z-index: 10000000000000000000;
  bottom: 10%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  
}
.arrow-up i{
  color: var(--secondary-color); 
}

.arrow-up:hover .tops{
  opacity: .9;
  font-size: 2rem;
}

/* navbar -----------------------------------------------------------  */

/* 
i {
	margin-right: 10px;
} */
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
  padding: 15px;
  color: var(--main-color);
  font-size: 2rem;
  padding-left: 2rem;
  text-shadow: 2px 0 1px #a17805;
}
.navbar-mainbg {
  background-color: var(--secondary-color);
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a  {
  color: var(--main-color);
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5161ce;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}

/* hero --------------------------------------------------------------- */

.index-page .hero {
  height: 85vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--main-color);
}

.index-page .hero .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  height: 85vh;
}

.index-page .hero .left h1 {
  font-size: 2.2rem;
  color: var(--secondary-color);
  text-transform: capitalize;
  line-height: 4rem;
  text-align: center;
}

.index-page .hero .right {
  width: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-image: url("../img/hero-right.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.index-page .hero .right img {
  height: 100%;
  max-height: 100%;
}

@media (max-width: 992px) {
  /* hero --------------------------------------------------------------- */

  html {
    font-size: 11px;
  }

  .index-page .hero {
    height: auto;
    flex-direction: column;
  }

  .index-page .hero .left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 5rem;
    height: 50vh;
  }

  .index-page .hero .left h1 {
    font-size: 2.5rem;
    line-height: auto;
  }

  .index-page .hero .right {
    width: 100%;
    height: 80vh;
    max-height: 80vh;

  }
}


@media (max-width: 667px) {
  /* hero --------------------------------------------------------------- */

  html {
    font-size: 11px;
  }
  .index-page .hero .left {
    height: 80vh;
  }

  .index-page .hero .left h1 {
    font-size: 1.5rem;
  }

  .index-page .hero .right {
    width: 100%;
    height: 80vh;
    max-height: 80vh;
  }

}

 /* end hero -----------------------------------------------------------  */

.index-page .one-section {
  padding: 5rem 2rem;
  background-color: #f3f3e8;
}

.index-page .one-section .one h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
  padding: 5rem;
}

.index-page .section-two {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.index-page .section-two .two {
  width: 30%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 2rem;
}

.index-page .section-two .two i {
  color: var(--main-color);
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
}

.index-page .section-two .two h3 {
  font-size: 1.7rem;
  color: var(--secondary-color);
  padding-top: 1rem;
}

.index-page .section-two .two p {
  font-size: 1.1rem;
}

@media (max-width: 996px) {
  .index-page .section-two {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .index-page .section-two .two {
    width: 80%;
    text-align: center;
  }
}

/* section-three ------------------------------------- */

.index-page .section-three {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 90vh;
}

.index-page .section-three .left {
  flex: 1;
  width: 50%;
  max-width: 50%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-image: url("../img/testi2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.index-page .section-three .right {
  flex: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-color);
}
.index-page .section-three .right h5 {
  font-size: 3rem;
  color: var(--secondary-color);
  width: 50%;
}

.index-page .section-three .right p {
  font-size: 1.1rem;
  padding: 1.5rem 0;
  width: 50%;
}

@media (max-width: 1200px) {
  .index-page .section-three {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .index-page .section-three .left {
    width: 100%;
    max-width: 100%;
  }

  .index-page .section-three .right {
    width: 100%;
    height: 50vh;
    justify-content: flex-start;
  }
  .index-page .section-three .right h5 {
    width: 75%;
    padding-top: 3rem;
  }

  .index-page .section-three .right p {
    width: 75%;
  }
}

/* ---------------------------------------------------  */
.index-page .testimonials {
  padding: 100px 0;
}

.index-page .testimonials h2 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 3rem;
  padding-bottom: 5rem;
}
.index-page .testimonials .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin: 50px auto;
  padding: 20px 0 20px;
}

.index-page .testimonials .wrapper .card {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-bottom: 6px solid var(--secondary-color);
}
.index-page .testimonials .wrapper .card .img {
  width: 100px;
  max-width: 100px;
  height: 100px;
  max-height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.index-page .testimonials .wrapper .card .img img {
  width: 100px;
  max-width: 100px;
  border-radius: 50%;
  height: 100px;
  max-height: 100px;
  border: 3px solid var(--secondary-color);
}
.index-page .testimonials .wrapper .card .right {
  width: 100%;
  background-color: white;
  color: var(--secondary-color);
  display: flex;
  padding: 20px;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.index-page .testimonials .wrapper .card .right h3 {
  font-size: 1.5rem;
}

.index-page .testimonials .wrapper .card .right h6 {
  padding-left: 1rem;
  opacity: 0.8;
}

.index-page .testimonials .wrapper .card .right p {
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.index-page .testimonials .wrapper .card .right .change-client {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 996px) {
  .index-page .testimonials {
    padding: 60px 0;
  }

  .index-page .testimonials h2 {
    padding-bottom: 3rem;
  }

  .index-page .testimonials .wrapper .card {
    width: 80%;
  }
  .index-page .testimonials .wrapper .card .img {
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
  }

  .index-page .testimonials .wrapper .card .img img {
    width: 60px;
    max-width: 60px;
    height: 60px;
    max-height: 60px;
  }
  .index-page .testimonials .wrapper .card .right {
    width: 100%;
    padding: 10px;
  }

  .index-page .testimonials .wrapper .card .right h3 {
    font-size: 1.5rem;
  }

  .index-page .testimonials .wrapper .card .right h6 {
    padding-left: 1rem;
    opacity: 0.8;
  }

  .index-page .testimonials .wrapper .card .right p {
    padding: 1rem 0;
  }
}

.all-btn {
  padding: .8rem 2rem;
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 1rem 0;
  transition: all .3s ease-in-out;
}


.all-btn:hover {
  opacity: .7;
}

.index-page .video {
  width: 100%;
  padding: 0;
  margin: 0;
}
.index-page .video video {
  width: 100%;
  max-width: 100%;
}

.index-page .video .content {
  color: var(--secondary-color);
  width: 70%;
  margin: 5rem auto;
  text-align: center;
  background: var(--main-color);
  padding: 5rem
}

.index-page .video .content h3{
  padding-bottom: 1rem;
  font-size: 2.3rem;
}
.index-page .video .content p{
  font-size: 1.1rem;
}


@media (max-width: 996px) {
  .index-page .video {
    width: 100%;
  }
  .index-page .video video {
    width: 100%;
    max-width: 100%;
    
  }

  .index-page .video .content {
    width: 100%;
    text-align: center;
    background: var(--main-color);
    padding: 3rem 1rem;
  }
  .index-page .video .content h3{
    padding-bottom: 1rem;
    font-size: 2rem;
  }
  .index-page .video .content p{
    font-size: 1rem;
  }
}

/* footer -----------------------------------------------------------------  */

.index-page footer {
  background-color: var(--secondary-color);
  padding: 2rem 0;
}

.index-page footer .copy-right {
  background-color: var(--secondary-color);
  padding: 2rem 0;
}

.index-page footer .copy-right .omar {
  color: var(--main-color);
  text-transform: uppercase;
}

/* footer ------------------------------------------------------------------  */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: var(--secondary-color);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* keyframes ------------------------------------------------ */

@keyframes arrowRight {
  0%,
  100% {
    left: 25%;
  }
  40%,
  70% {
    left: 27%;
  }
}

@keyframes imgMessage {
  0% {
    transform: scale(1);
  }
  40%,
  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spanMessage {
  0%,
  100% {
    color: var(--secondary-color);
    background-color: white;
  }
  40% {
    color: white;
    background-color: var(--secondary-color);
  }

  70% {
    color: var(--main-color);
    background-color: var(--secondary-color);
  }
}


/* about page ---------------------------------------------------------------------------  */

.about-page .about-section {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);

}

.about-page .about-section .content{
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 95%;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 2rem;

}

.about-page .about-section .content h1{
  font-size: 1.6rem;
  flex: 1;
  font-weight: bold;
  text-transform: capitalize;

}


.about-page .about-section .content p{
  font-size: 1.3rem;
  flex: 2;
  text-transform: capitalize;
  text-align: justify;

}


@media screen and (max-width: 996px) {

  .about-page .about-section {
    padding: 5rem 0;
  
  }
  
  .about-page .about-section .content{
    flex-direction: column;
  
  }
  
  .about-page .about-section .content h1{
    font-size: 1.6rem;
    flex: 1;
    font-weight: bold;
    text-transform: capitalize;
  
  }
  
  
  .about-page .about-section .content p{
    font-size: 1.3rem;
    flex: 2;
    text-transform: capitalize;
  
  }

}

/* team page ---------------------------------------------------------------------------  */


.team-page .team  {
  
  padding: 5rem 1rem;
}

.team-page .team  > h2{
  color: var(--main-color);
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 2px 0px var(--secondary-color);
}

.team-page .team  .row {
  margin: 4rem 0;
}

.team-page .team  .column {
  float: left;
  width: 33.3%;
  margin-bottom: 2rem;
  padding: 0 8px;
}



.team-page .team  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  


}

.team-page .team  .card .img {
  height: 40vh;
  max-height: 40vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-page .team  .card .img img {
  max-width: 100%;
  width: 100%;
}



.team-page .team  .container {
  padding: 30px;
}

.team-page .team  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team-page .team  .title {
  color: grey;
}

.team-page .team  .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1.1rem 2.1rem;
  color: white;
  background-color: var(--secondary-color);
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
}

.team-page .team  .button:hover {
  background-color: #555;
}

@media screen and (max-width: 996px) {
  .team-page .team  .column {
    width: 100%;
    display: block;
  }




.team-page .team  .container {
  padding: 30px;
}

.team-page .team  .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team-page .team  .title {
  color: grey;
}

.team-page .team  .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1.1rem 2.1rem;
  color: white;
  background-color: var(--secondary-color);
  text-align: center;
  cursor: pointer;
  font-size: 1.1rem;
}

.team-page .team  .button:hover {
  background-color: #555;
}
}

/* contact page  --------------------------------------------------------  */

.contact-page .contact{
  padding: 5rem;
}
.contact-page .contact form{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.contact-page .contact form .left{
  width: 100%;
}

.contact-page .contact form .right{
  width: 100%;
}
.contact-page .contact form .left input{
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-color);
  outline: none;
  color: var(--secondary-color);
}

.contact-page .contact form .right textarea{
  width: 100%;
  padding: 1rem;
  height: 40vh;
  margin-bottom: 1rem;
  border: 1px solid var(--secondary-color);
  outline: none;
  color: var(--secondary-color);
  resize: none;
}

.contact-page .contact .social-media h4{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 4rem 0 1rem;
}
.contact-page .contact .social-media .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
.contact-page .contact .social-media .icons a{
  color: var(--secondary-color);
  font-size: 1.6rem;
  cursor: pointer;  
  transition: all .5s ease-in-out;
}

.contact-page .contact .social-media .icons a:hover{
  color: var(--main-color);  
}

@media screen and (max-width: 996px) {

  .contact-page .contact{
    padding: 5rem;
  }
  .contact-page .contact form{
    width: 100%;
  }
  

}
  /* services page ------------------------------------------------------  */
.services-page .services{
  padding: 5rem;
}
.services-page .services h2{
  color: var(--main-color);
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 2px 0px var(--secondary-color);
  text-align: center;
}

.services-page .services > p{
  text-align: center;
  font-size: 1.2rem;
  color: var(--secondary-color);
  text-transform: capitalize;
  font-weight: bold;
  padding: 1rem 0;
}

.services-page .services .service{
  width: 80%;
  margin: 3rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.services-page .services .service:hover{
  opacity: .8;
}
.services-page .services .service .left{
  width: 50%;
}

.services-page .services .service .left h3{
  font-size: 1.5rem;
  font-weight: bold;
}

.services-page .services .service .left p{
  font-size: 1.1rem;
  width: 90%;
  text-align: justify;
}

.services-page .services .service .right{
  width: 50%;
  overflow: hidden;
}
.services-page .services .service .right img{
  width: 100%;
  max-width: 100%;
}


@media screen and (max-width: 996px) {
  
  .services-page .services{
    padding: 5rem 2rem;
  }
  
  .services-page .services .service{
    width: 70%;
    flex-direction: column;
    padding-left: 0%;
  }
  .services-page .services .service .left{
    width: 100%;
    padding: 2rem;
  }
  .services-page .services .service .left p{
    width: 100%;
  }
  
  .services-page .services .service .left h3{
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .services-page .services .service .right{
    width: 100%;
  }
  
}






